<nav class="navbar navbar-expand-md navbar-light bg-dark">

      <a href="/" class="navbar-brand"><i class="material-icons text-success material-icons.md-48">store</i></a>
      <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
      <div id="navbar"   class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav">
          <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
                                  data-toggle="dropdown"
                                  href="">Categories</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'home' %}">All products</a>
                  {% for category in links %}
                      <a class="dropdown-item" href="{{ category.get_url }}">{{ category.name }}</a>
                  {% endfor %}

              </div>
          </li>
          <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                                  href="">Contacts</a></li>
          <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                                  href="">About</a></li>
          {% if request.user.is_authenticated and request.user.first_name %}
            <li class="nav-item">
                <span class="nav-link text-light text-uppercase font-weight-bold px-3">
                    Welcome, {{ request.user.first_name }}!
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">
                    Sign Out<i class="material-icons">exit_to_app</i>
                </a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">
                    Sign Up<i class="material-icons">add</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'login' %}">
                    Log in<i class="material-icons">login</i>
                </a>
            </li>
          {% endif %}

          {% if item_count > 0 %}
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
                    <i class="material-icons cart-icon">add_shopping_cart</i>
                    ({{ item_count }})
                </a>
            </li>
          {% endif %}
      </ul>

      <form class="form-inline">
          <div class="input-group">
              <input type="text" placeholder="Search">
              <div>
                  <button class="btn-success"><i class="material-icons material-icons.md-24">search</i></button></div>
          </div>
      </form>
      </div>
</nav>